Andraž Levstik <ruskie@codemages.net> Andraž "ruskie" Levstik <ruskie@mages.ath.cx>
Andraž Levstik <ruskie@codemages.net> Andraž 'ruskie' Levstik <ruskie@codemages.net>
Andraž Levstik <ruskie@codemages.net> Andraž Levstik <ruskie@mages.ath.cx>
Arwed von Merkatz <v.merkatz@gmx.net> Arwed <arwed@Otherland.(none)>
David Kowis <dkowis@shlrm.org> David Kowis <dkowis@kain.shlrm.org>
David Michael Leo Brown Jr <dmlb2000@gmail.com> David Brown <dmlb2000@dmlb2010-lappy.(none)>
David Michael Leo Brown Jr <dmlb2000@gmail.com> David Brown <dmlb2000@gmail.com>
David Michael Leo Brown Jr <dmlb2000@gmail.com> David Brown <dmlb2000@dmlb2002.(none)>
David Michael Leo Brown Jr <dmlb2000@gmail.com> David Brown <dmlb2000@dmlb2000.(none)>
Elisamuel Resto <ryuji@sourcemage.org> Elisamuel Resto <ryuji@mages.ath.cx>
Eric Sandall <sandalle@sourcemage.org> Eric Sandall <eric@sandall.us>
Eric Sandall <sandalle@sourcemage.org> Eric Sandall <sandalle@moby.(none)>
Eric Sandall <sandalle@sourcemage.org> Eric Sandall <sandalle@webex-d630.(none)>
Flavien Bridault <vlaaad@sourcemage.org> Flavien Bridault <f.bridault@fra.net>
George Sherwood <gsherwood@sourcemage.org> George Sherwood <chat@sourcemage.org>
George Sherwood <gsherwood@sourcemage.org> George J. Sherwood <george@beernabeer.com>
Jeremy Blosser <jblosser-smgl@firinn.org> Jeremy Blosser <jblosser@sourcemage.org>
Julien ROZO <julien@rozo.org> root <root@maxikaze.KAZE>
Lalo Martins <lalo@salmao.laranja.org> Lalo Martins <lalo@sourcemage.org>
Pieter Lenaerts <e-type@sourcemage.org> Pieter Lenaerts <pieter@agoraeus.(none)>
Remko van der Vossen <wich@radio0.stack.nl> wich <wich@asuka.(none)>
Remko van der Vossen <wich@radio0.stack.nl> Remko van der Vossen <wich@gabriel.(none)>
Thomas Orgis <sobukus@sourcemage.org> Thomas Orgis <orgis@adams.agnld.uni-potsdam.de>
Treeve Jelbert <treeve@sourcemage.org> Treeve Jelbert <treeve@scarlet.be>
Treeve Jelbert <treeve@sourcemage.org> Treeve Jelbert <treeve01@pi.be>
