[Desktop Entry]
Encoding=UTF-8
Name=Pwm3plus
Comment=This session logs you into Pwm3plus
Exec=startpwm3plus
TryExec=startpwm3plus
Icon=
Type=Application
